.example-fill-remaining-space {
  flex: 1 1 auto;
}
span {
  padding: 5px;
}
.importfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.importlabel {
  background-color: white;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
