<mat-toolbar color="primary">
  <span>Lineup Builder</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


    <!-- <input
      type="file"
      name="file"
      id="file"
      accept=".csv"
      (change)="onImportFile($event)">
      <label for="file">Import CSV File</label> -->
  <input
    class="importfile"
    type="file"
    id="file"
    accept=".json"
    (change)="onImportFile($event)">
  <label class="importlabel" for="file">Import CSV File</label>

</mat-toolbar>

<div>
    <p>Without JSON pipe:</p>
    <pre>{{object}}</pre>
    <p>With JSON pipe:</p>
    <pre>{{object | json}}</pre>
  </div>
