<mat-toolbar color="primary">
  <span>Lineup Buildier</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>


    <!-- <input
      type="file"
      name="file"
      id="file"
      accept=".csv"
      (change)="onImportFile($event)">
      <label for="file">Import CSV File</label> -->
  <input
    class="importfile"
    type="file"
    id="file"
    accept=".csv"
    (change)="onImportFile($event)">
  <label class="importlabel" for="file">Import CSV File</label>

</mat-toolbar>
