<div class="lineup-container">
  <div class="title">
    <strong>My Lineup</strong>
  </div>
  <mat-selection-list>
    <mat-list-option>QB</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>RB</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>RB</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>WR</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>WR</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>WR</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>TE</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>K</mat-list-option>
    <mat-divider></mat-divider>
    <mat-list-option>DEF</mat-list-option>
  </mat-selection-list>
</div>
